.verb-search-container {
  margin-bottom: 2rem;

  input {
    min-width: 300px;
  }
}

@media (max-width: 500px)  {
  .verb-search-container {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}
