<div class="verb-container">
  <div class="flex flex-row gap-4 verb-input-search-container">
    <span class="p-float-label">
      <input pInputText id="verb" [(ngModel)]="userInput" (ngModelChange)="lookupVerb()"/>
      <label for="verb">Find a Japanese Verb</label>
    </span>
    <div class="lang-filter flex-row align-items-center gap-2">
      <label for="searchLanguage">Search in english</label>
      <p-inputSwitch inputId="searchLanguage" [(ngModel)]="english" (ngModelChange)="lookupVerb()"></p-inputSwitch>
    </div>

    <span (click)="showMobileFilter = !showMobileFilter" class="mobile-filter pi pi-filter"></span>

  </div>

  <ng-container *ngIf="!(mobileView$ | async)">
    <ng-container *ngTemplateOutlet="inlineFilters"></ng-container>
  </ng-container>

  <div *ngIf="mobileView$ | async"
    class="mobile-inline-filter"
    [class.show]="showMobileFilter">
    <ng-container *ngTemplateOutlet="inlineFilters"></ng-container>
  </div>

  <ng-template #inlineFilters>
    <div class="flex flex-row align-items-center gap-4 verb-search-container">
      <div class="mobile-filter flex flex-row align-items-center gap-2">
        <label for="searchLanguage">Search in english</label>
        <p-inputSwitch inputId="searchLanguage" [(ngModel)]="english" (ngModelChange)="lookupVerb()"></p-inputSwitch>
      </div>
      <label for="verbGroup">Verb Group</label>
      <p-selectButton [options]="groups" [(ngModel)]="group" (ngModelChange)="lookupVerb()"></p-selectButton>
      <label for="jlptLevel">JLPT Level</label>
      <p-selectButton [options]="jlptLevels" [(ngModel)]="level" (ngModelChange)="lookupVerb()"></p-selectButton>
    </div>
  </ng-template>

  <div class="card">
    <p-progressSpinner *ngIf="loading"
      class="flex flex-row align-items-center">
    </p-progressSpinner>
    <p-dataView #dv *ngIf="!loading" [value]="verbs">
      <ng-template pTemplate="list" let-verbs>
        <div class="grid grid-nogutter">
            <div class="col-12" *ngFor="let verb of verbs; let first = first">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4" [ngClass]="{ 'border-top-1 surface-border': !first }">
                  <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                        <div class="text-2xl font-bold text-900">
                          <span [innerHtml]="english ? verb.name_kana : (verb.name_kana | highlight: userInput)"></span>
                          <span> - </span>
                          <span [innerHtml]="'[' + (english ? verb.name_eng : (verb.name_eng | highlight: userInput)) + ']'"></span>
                        </div>
                        <div class="flex align-items-center gap-3">
                          <span class="flex align-items-center gap-2">
                              <span class="font-semibold"
                                [innerHtml]="english ? (verb.definition | highlight: userInput) : verb.definition">
                              </span>
                          </span>
                        </div>
                        <div class="flex align-items-center gap-1">
                          <p-tag [value]="verb.group" [severity]="'primary'"></p-tag>
                          <p-tag [value]="verb.jlpt" [severity]="'success'"></p-tag>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
