.verb-search-container, .verb-input-search-container {
  margin-bottom: 2rem;

  input {
    min-width: 300px;
  }
}

.mobile-filter {
  display: none;
}

.lang-filter {
  display: flex;
}

@media (max-width: 500px)  {
  .verb-search-container {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .mobile-filter {
    display: flex;
  }

  .lang-filter {
    display: none;
  }

  .pi-filter {
    align-self: center;
  }

  .mobile-inline-filter {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.15s ease-out;

    &.show {
      max-height: 600px;
      transition: max-height 0.25s ease-in;
    }
  }
}
