main {
  min-height: 100vh;
  margin-left: 300px;
  padding: 2rem 2rem 2rem 4rem;
}

p-breadcrumb {
  display: block;
  margin-bottom: 2rem;
}

@media (max-width: 500px)  {
  main {
    margin-left: 0;
    padding: 2rem;
  }

  p-breadcrumb {
    display: none;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition-duration: 0.2s;
  }

  .disable-interaction {
    overflow-y: hidden;
  }
}
