main {
  min-height: 100vh;
  margin-left: 300px;
  padding: 7rem 2rem 2rem 4rem;
}

p-breadcrumb {
  display: block;
  margin-bottom: 2rem;
}

@media (max-width: 500px)  {
  main {
    margin-left: 0;
  }

  .layout-sidebar {
    display: none;
  }
}
